<div class="container">
  <h1 class="text-center">Your booking</h1>
  <div class="row">

    <% @bookings.each do |booking| %>
      <%= link_to my_booking_path(booking.id) do %>
        <div class="col-sm-4">
          <div class="booking_card">
            <h4><%= booking.super_hero.name %></h4>
            <p><%= booking.starts_at %></p>
            <p><%= booking.ends_at %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
