<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="far fa-envelope"></i></a>
    Contact us : sup-air-oz@gmail.com
    <a href="#"><i class="fas fa-phone"></i></a>
    +33 6 04 78 41 80
  </div>
</div>
