<h1>Leave a review</h1>

  <div class="media-body">
    <div class="well well-lg">
      <% Booking.where(super_hero_id: @super_hero.id).each do |b| %>
        <h4><%= User.find(b.user_id).first_name %> <%= User.find(b.user_id).last_name %></h4>

        <p class="media-comment">
          <%= b.review %>
        </p>
      <% end %>
    </div>
  </div>

