<h1>Leave a review</h1>

  <div class="media-body">
    <div class="well well-lg">

      <h4>Marco </h4>

      <p class="media-comment">
        Great snippet! Thanks for sharing.
      </p>
      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Add review</a>
      <a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>
    </div>
  </div>

