<h1>Reviews</h1>

  <div class="media-body">
    <div class="well well-lg">
      <% Booking.where(super_hero_id: @super_hero.id).each do |booking| %>
        <% if booking.review.present? %>
          <h4><%= User.find(booking.user_id).first_name %> <%= User.find(booking.user_id).last_name %></h4>
          <% if booking.rating.present? %>
            <% booking.rating.times do  %>
              <span class="glyphicon glyphicon-star" style="color: #ffc107; font-size: 15px"></span>
            <% end %>
            <% (5 - booking.rating).times do %>
              <span class="glyphicon glyphicon-star-empty" style="color: #ffc107; font-size: 15px"></span>
            <% end %>
          <% end %>
          <p class="media-comment">
            <%= booking.review %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

