.card {
  margin: 10px;

}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-body {
  padding: 0px !important;
}

.card-img-top {
  width: 318px;
  height: 224px;
  object-fit: cover;
}
